@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  position: relative;
  font-size: 55%;
  line-height: 0;
  vertical-align: baseline;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 95%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 0;
  left: 0;
}

header .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

h1 {
  -webkit-flex-basis: 12.4%;
  -ms-flex-preferred-size: 12.4%;
  flex-basis: 12.4%;
  text-indent: -9999px;
}

h1 a {
  float: left;
  text-indent: 0;
}

.header-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 26%;
  -ms-flex-preferred-size: 26%;
  flex-basis: 26%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 9px;
}

.hamburger { display: none; }

.header-right ul { 
  margin-right: 10px;
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: flex; 
}

.header-right li { 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -moz-box; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -webkit-align-items: center; 
  -moz-box-align: center; 
  -ms-flex-align: center; 
  align-items: center;
}

.header-right a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFF;
  font-weight: bold;
  white-space: nowrap;
}

.contact-us { padding-top: 5px; }

.contact-us li:first-child {
  padding-right: 17px;
  border-right: 1px solid #A5A2A2;
  margin-right: 17px;
}

.contact-us a { 
  -webkit-transition: .3s ease-in-out; 
  -o-transition: .3s ease-in-out; 
  -moz-transition: .3s ease-in-out; 
  transition: .3s ease-in-out; 
}

.contact-us a:hover { color: #FF6B6B; }

.contact-us a::before {
  margin-right: 8px;
  font-family: fontAwesome;
}

.contact-us li:first-child a::before { 
  content: "\f095"; 
  font-size: 10px;
}

.contact-us li:last-child a::before { content: "\f003"; }

.book-now a {
  padding: 7px 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #FF6B6B;
  font-size: 8px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.book-now a:hover { background-color: #EF0404; }

.book-now a::before {
  content: "\f1d8";
  margin-right: 8px;
  font-family: fontAwesome;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*Banner Section Starts Here*/
.banner li { position: relative; }

.banner-content {
  padding: 0 48% 0 15.7%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 239px;
  right: 0;
  left: 0;
  color: #FFF;
}

h2 {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: bold;
  text-transform: capitalize;
}

.banner-content p { 
  margin-bottom: 40px;
  font-size: 10px; 
  line-height: 16px;
}

.banner-content a {
  padding: 11px 6.3% 11px 6.5%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #FF6B6B;
  color: #fff;
  font-size: 9px;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.banner-content a:hover { background-color: #EF0404; }

.banner-content a::before {
  content: "\f1d8";
  margin-right: 8px;
  font-family: fontAwesome;
}

.lazy { position: relative; }

.slick-dots {
  position: absolute;
  bottom: 34px;
}

#slick-slide-control00::before,
#slick-slide-control01::before,
#slick-slide-control02::before {
  width: 4px;
  height: 4px;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 6px;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1;
}

#slick-slide-control00:hover::before,
#slick-slide-control01:hover::before,
#slick-slide-control02:hover::before {
  background-color: #FFF;
  color: #FF6B6B;
}

.slick-dots li.slick-active #slick-slide-control00::before,
.slick-dots li.slick-active #slick-slide-control01::before,
.slick-dots li.slick-active #slick-slide-control02::before {
  background-color: #FFF;
  color: #FF6B6B;
}
/*Banner Section Ends Here*/

/*Featured Tours Section Starts here*/
.featured-tours { 
  padding: 32px 0 0; 
  color: #434345;
  text-align: center;
}

.featured-tours .wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16%;
}

.featured-tours h3 { margin-bottom: 22px; }

h3 {
  font-size: 33px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-transform: capitalize;
}

.featured-tours p {
  padding: 0 19.4%;
  margin-bottom: 36px;
  color: #8B8C8E;
  font-size: 10px;
  line-height: 19px;
}

.featured-tours .wrapper > ul {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.featured-tours li { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  -webkit-flex-basis: 23%;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%; 
  -webkit-transition: .3s ease-in-out; 
  -o-transition: .3s ease-in-out; 
  -moz-transition: .3s ease-in-out; 
  transition: .3s ease-in-out;
}

.featured-tours li:hover { 
  -webkit-box-shadow: 12px 7px 21px 5px #ccc; 
  -moz-box-shadow: 12px 7px 21px 5px #ccc; 
  box-shadow: 12px 7px 21px 5px #ccc; 
}

.featured-tours a { color: #434345; }

.featured-tours figure {
  margin-bottom: 28px;
  position: relative;
}

.featured-tours figcaption {
  padding: 4px 9px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #4ECDC4;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

figcaption.new { background-color: #FF6B6B; }

.stars {
  padding: 0 24%;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stars span {
  display: inline-block;
  color: #FF6B6B;
  font-size: 13px;
  text-indent: -9999px;
}

.stars span::before {
  content: "\f005";
  float: left;
  font-family: fontAwesome;
  text-indent: 0;
}

.featured-tours .wrapper > ul > li:first-child li:last-of-type span::before { content: "\f123"; }

h4 {
  margin-bottom: -2px;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
}

h4 + span {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 14px;
  color: #8B8C8E;
  display: inline-block;
  font-size: 9px;
  text-transform: capitalize;
}

.price {
  color: #38383A;
  font-size: 11px;
  font-weight: bold;
}

.cut-price {
  margin-right: 8%;
  color: #8B8C8E;
  font-size: 9px;
  text-decoration: line-through;
}
/*Featured Tours Section Starts here*/

/*We Provide Best Tour Section Starts here*/
.we-provide {
  padding: 81px 0 80px; 
  background: url(../images/bg-01-1920x643.jpg) no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
}

.we-provide h3 { margin-bottom: 18px; }

.we-provide p {
  padding: 0 28%;
  margin-bottom: 26px;
  font-size: 10px;
  line-height: 19px;
  text-align: center;
}

.get-in-touch { text-align: center; }

.get-in-touch a {
  padding: 8px 28px;
  border: 1px solid #FFF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFF;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.get-in-touch a:hover {
  border-color: #FF6B6B;
  color: #FF6B6B;
}

.get-in-touch a::before {
  content: "\f1d8";
  margin-right: 8px;
  font-family: fontAwesome;
}
/*We Provide Best Tour Section Ends here*/

/*Our Parteners Section Starts Here*/
.our-partners {
  padding: 48px 0 48px;
  background-color: #F5F5F5;
}

h5 {
  margin-bottom: 31px;
  color: #444242;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.our-partners ul {
  padding: 0 17.3%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.our-partners li { 
  flex-basis: 12%; 
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.our-partners li:hover { 
  -webkit-box-shadow: 12px 7px 21px 5px #ccc; 
  -moz-box-shadow: 12px 7px 21px 5px #ccc; 
  box-shadow: 12px 7px 21px 5px #ccc; 
}
/*Our Parteners Section Ends Here*/

/*Explore The Distant Section Starts Here*/
.explore-the-distant {
  padding: 81px 0 80px; 
  background: url(../images/bg-02-1920x643.jpg) no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
}

.explore-the-distant h3 { margin-bottom: 18px; }

.explore-the-distant p {
  padding: 0 26.5%;
  margin-bottom: 26px;
  font-size: 10px;
  line-height: 19px;
  text-align: center;
}
/*Explore The Distant Section Starts Here*/


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { 
  padding: 36px 0;
  background-color: #191919; 
}

footer .wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 16%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

h6 { -webkit-flex-basis: 11.7%; -ms-flex-preferred-size: 11.7%; flex-basis: 11.7%; }

footer ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 20.5%;
  -ms-flex-preferred-size: 20.5%;
  flex-basis: 20.5%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  padding: 6px 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #212121;
  color: #FFF;
  text-indent: -9999px;
}

footer li a::before {
  float: left;
  font-family: fontAwesome;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

footer li a:hover::before { color: #FF6B6B; }
footer li:first-child a::before { content: "\f09a"; }
footer li:nth-child(2) a::before { content: "\f099"; }
footer li:nth-child(3) a::before { content: "\f0d5"; }
footer li:nth-child(4) a::before { content: "\f0e1"; }

/*Back to top Starts here*/
.back-to-top { 
  display: none;
  position: fixed; 
  z-index: 1;
  right: 29px;
  bottom: 29px;
}

.back-to-top a { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  padding: 3px 7px;
  border: 2px solid #FF6B6B;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #FF6B6B;
  text-indent: -9999px; 
  -webkit-transition: .3s ease-in-out; 
  -o-transition: .3s ease-in-out; 
  -moz-transition: .3s ease-in-out; 
  transition: .3s ease-in-out;
}

.back-to-top a:hover { 
  border-color: #F31B1B;
  color:  #F31B1B;
} 

.back-to-top a::before {
  content: "\f106";
  float: left;
  font-family: fontAwesome;
  text-indent: 0;
}

.back-display { display: block; }

/*Back to top Ends here*/

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

header { 
  padding: 10px 0;
  position: relative;
  background-color: #212121; 
  top: 0;
}

header .wrapper { 
  -webkit-box-pack: center; 
  -ms-flex-pack: center; 
  justify-content: center; 
}

h1 { 
  -ms-flex-preferred-size: 30%; 
  flex-basis: 30%; 
}

.header-right { 
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute; 
  right: 0;
}

.header-right a { 
  border-radius: 20px;
  display: inline-block;
  font-size: 15px;
  text-align: center; 
}

.hamburger { 
  padding: 0 10px;
  display: block; 
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}

.hamburger span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-bottom: 3px;
  display: block;
  background-color: #FFF;
  text-indent: -9999px;
}

.hamburger.active span { display: none; }

.hamburger.active:before { 
  content: "\f00d"; 
  float: right;
  color: #FFF;
  font-family: fontAwesome;
  font-size: 18px;
  text-indent: 0;
}

ul.contact-us { 
  width: 100%;
  padding-left: 20%;
  margin-top: 40px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #FFF; 
}

.contact-us li { margin: 10px 0; }

.contact-us li:first-child {
  padding-right: 0;
  border-style: none;
  margin-right: 0;
}

.contact-us a { color: #212121; }

.book-now { 
  padding: 10px 0;
  display: none;
  background-color: #FFF; 
  text-align: center;
} 

.slick-dots li.slick-active #slick-slide-control00:before,
.slick-dots li.slick-active #slick-slide-control01:before,
.slick-dots li.slick-active #slick-slide-control02:before {
  background-color: transparent;
  color: #FFF;
}
/*Header ends here*/

/*Banner Starts here*/
.banner a:hover { background-color: #FF6B6B; }

.banner-content {
  text-align: center;
  top: 100px;
  left: 20%;
}

h2 { font-size: 30px; }
.banner-content p { display: none; }

.featured-tours .wrapper > ul { 
  -webkit-box-orient: vertical; 
  -webkit-box-direction: normal; 
  -ms-flex-direction: column; 
  flex-direction: column; 
}

.featured-tours .wrapper > ul > li { margin-bottom: 50px; }
.featured-tours .wrapper > ul > li:hover { box-shadow: none; }

.we-provide a:hover,
.explore-the-distant a:hover {
  border-color: #FFF;
  color: #FFF;
}

.our-partners ul { 
  -webkit-box-orient: vertical; 
  -webkit-box-direction: normal; 
  -ms-flex-direction: column; 
  flex-direction: column; 
}

.our-partners li { margin-bottom: 40px; }
.our-partners li:hover { box-shadow: none; }

/*Main Section Ends Here*/

/*Footer Starts here*/

footer .wrapper { 
  -webkit-box-orient: vertical; 
  -webkit-box-direction: normal; 
  -ms-flex-direction: column; 
  flex-direction: column;
}

footer .ul { -ms-flex-preferred-size: 70%; flex-basis: 70%; }
footer li { margin-right: 10px; }
h6 { margin-bottom: 50px; }

.back-to-top a:hover { 
  border-color: #FF6B6B;
  color:  #FF6B6B;
} 

/*footer ends here*/

}  